* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #8EC5FC;
     background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  }
  
  .form-register {
    width: 400px;
    background:#9aedcc;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 15px;
    font-family: 'Segoe Ui';
    color: #0f0130;
    font-size: 1em;
    box-shadow: 7px 13px 37px #000;

  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #fafafa;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #f3f4f7;
    font-family: 'calibri';
    font-size: 18px;
    color: #0f0130;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
  }
  
  .form-register a {
    color: #0f0130;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #0f0130;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }